.App {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
&-moves{
  margin-bottom: 550px;
}

}
.cards {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 30px 30px; 
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
   position: relative;
   &-img{
    width: 100px;
   }
   &-question{
    width: 100px;

   }
  }
  .question{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    background-color: rgb(121, 141, 76);
    
  }

  .containerfliped .question{
    display: none;
   
  }

  .container.fliped {
    transform: rotateY(180deg);
  }

  .restart{
    margin-top: 500px  ;
    background-color: rgb(137, 197, 197);
    width: 130px;
    height: 20px;
    padding: 10px;
    border-radius: 12px;
    color: rgb(95, 77, 91);
    align-items: center;
  }
  .restart:hover{
    background-color: rgba(137, 197, 197, 0.904);
    color: rgba(95, 77, 91, 0.932);
  }
